# Environment files
.env
.env/
.venv/
*.env

# VSCode specific
.vscode/
*.code-workspace

# Python and Computer specific
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.DS_Store
*.log
*.sqlite3
*.bak

# Project files
tree_graph*
stereotypes.json
plot_tree.py
langchain/
tree_of_thought_file.ipynb
case_studies.py
utils_visualisation.py
analysis_dump.py
analysis/
mixture_of_personalities.py
test.py
summary_utils.py