# Environment files
.env
.env/
.venv/
*.env

# VSCode specific
.vscode/
*.code-workspace

# Python and Computer specific
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.DS_Store
*.log
*.sqlite3
*.bak

# Project files
tree_graph*
stereotypes.json
plot_tree.py
langchain/
tree_of_thought_file.ipynb
case_studies.py
utils_visualisation.py
analysis_dump.py
analysis/

mop_strategy1.py
mop_strategy3.py
objectives.py
data_playground.py
MoP/mop_strategy2_integration.py
playground.py
experiment1_tests_.ipynb
analysis_0dump.py
batch_jobs/

results/deepseek_v3/
results/openai_4.1_mini/
results/openai_4o_mini/
# Keep results/figs/ folder
#!results/figs/
zero_shot_basic.py
plots_workshop.py
workshop.ipynb
